@media (max-width: 600px) {
    .content {
        max-width: 600px;
    }
    .gallery {
        display: none;
    }
    .phone {
        display: none;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .row {
        width: 100vw;
        max-width: 100%;
    }
    .navbar-toggler {
        background-image: url("../img/mobile/menu_icon.png");
        background-position: center;
        background-size: cover;
        height: 65px;
        width: 80px;
        border-style: none;
        margin-right: 20px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .menu-items {
        background-color: white;
        margin-top: 0px;
        border-style: none;
        width: 100%;
        flex-grow: unset;
        z-index: 1;
    }
}