@media (max-width: 600px) {
    .content {
        max-width: 600px;
    }
    .gallery {
        display: none;
    }
    .phone {
        display: none;
    }
    .navbar-brand {
        margin-left: 20px;
    }
    .row {
        width: 100vw;
        max-width: 100%;
    }
    .navbar-toggler {
        background-image: url("../img/mobile/menu_icon.png");
        background-position: center;
        background-size: cover;
        height: 65px;
        width: 80px;
        border-style: none;
        margin-right: 20px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .menu-items {
        font-weight: 300;
        text-align: center;
        font-size: 35px;
        line-height: 125px;
        position: fixed;
        margin: 0;
        top: 0;
        background-color: white;
        margin-top: 0px;
        border-style: none;
        width: 100vw;
        height: 100vh;
        flex-grow: unset;
        z-index: 1;
        padding-top: 50px;
    }
    .closing-button {
        background-image: url("../img/mobile/close_mobile.png");
        background-position: center;
        background-size: cover;
        height: 40px;
        width: 40px;
        border-style: none;
        position: fixed;
        margin: 20px;
        top: 20px;
        right: 20px;
    }
}