@media (max-width: 600px) {
    .small {
        display: unset;
    }
    .content {
        max-width: 600px;
    }
    .medium {
        display: none;
    }
    .large {
        display: none;
    }
}